/*Tema*/
@import url(./CSS/tema/tema.css);

/*Reset*/
@import url(./CSS/reset/reset.css);

/*Utilidades*/
@import url(./CSS/utilidades/tamanho-padrao.css);

/*Fontes*/
@import url(./fontes/fontes.css);

/* Header */
@import url(./CSS/header/header.css);

/*Introdução*/
@import url(./CSS/projetos/introducao.css);

/*Projetos*/
@import url(./CSS/projetos/projetos.css);
@import url(./CSS/projetos/filmes.css);

/*Sobre Mim*/
@import url(./CSS/sobre-mim/sobre-imagem.css);
@import url(./CSS/sobre-mim/sobre-mim.css);
@import url(./CSS/sobre-mim/experiencia.css);

/*Formulário*/
@import url(./contato/formulario.css);

/*Api-Flip*/
@import url(./CSS/projetos/api-teste.css);
@import url(./CSS/projetos/personagens.css);

/*Animação*/
@import url(./CSS/animacao/animacao.css);

/*Game Memory*/
@import url(./CSS/game-memory/game-memory.css);

/*BOTÕES*/
@import url(./componentes/botao-arcade/css/botoes.css);
@import url(./componentes/botao-arcade/css/girar-tela-360.css);
@import url(./componentes/botao-arcade/css/mostrar-video.css);

/*Gogeta*/
@import url(./CSS/gogeta-detalhe/gogeta-detalhe.css);

/*COOKIES*/
@import url(./CSS/projetos/cookies.css);

/*BEYBLADE*/
@import url(./beyblade/episodios.css);
@import url(./beyblade/tema-beyblade.css);
@import url(./beyblade/episodios-layout.css);