.btn-home {
  top: -60px;
  right: 20px;
}

.btn-filmes {
  top: 250px;
  right: 35px;
}

.arcade-container {
  display: flex;
  gap: 20px; /* espaçamento entre os botões */
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -100px;
}

.body-position {
  position: relative;
}

.btn-container {
  position: absolute;
  right: 10%;
  top: 10%; /* opcional: centraliza verticalmente */
  transform: translateY(-50%);
}

.btn-itemName {
  display: grid;
}

.arcade-btn-background {
  position: absolute;
  top: 5px;
  left: 0;
  width: 94px;
  height: 85px;
  border-radius: 50%;
  pointer-events: none;
}
.btn-01 {
  background-color: var(--cor-btn-01);
}
.btn-02 {
  background-color: var(--cor-btn-02);
}
.btn-03 {
  background-color: var(--cor-btn-03);
}
.btn-04 {
  background-color: var(--cor-btn-04);
}

.circle {
  border-radius: 50%;
}

.arcade-btn {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 135px;
  height: 135px;
  background: url(/assets/botoes/1.png) no-repeat center/cover;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  appearance: none;
  box-shadow: none;

  /* transition: transform 0.12s ease; */
}

.arcade-btn-shadow {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 150px;
  top: 200px;
  /* background: url(/assets/botoes/btn_shadow.png) no-repeat; */
}

.arcade-btn:active {
  background-image: url(/assets/botoes/2.png);
}

.arcade-btn:hover,
.arcade-btn:focus,
.arcade-btn:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  filter: none !important;
  background-color: transparent !important;
}
