/*GIRAR A TELA*/
.tela {
  width: 300px;
  height: 200px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s ease; /* tempo e suavidade */
}

.giro360 {
  transform: rotate(360deg);
}

body {
  transition: transform 1s ease;
}

.rotate {
  transform: rotate(360deg);
}