/*video*/
#box-video {
  position: fixed;
  top: 20px;
  right: 600px;
  width: 600px;
  display: none;
  z-index: 9999;
  animation: aparecer .3s ease forwards;
}

#box-video video {
  width: 100%;
  border-radius: 10px;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}