.arcade-btn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
}

.arcade-btn::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 55%;
  height: 25%;
  border-radius: 50%;
  background: radial-gradient(circle,
    rgba(255,255,255,0.9) 0%,
    rgba(255,255,255,0.1) 70%,
    rgba(255,255,255,0) 100%
  );
  filter: blur(2px);
}

.arcade-btn:active {
  transform: translateY(4px);
  box-shadow:
    inset 0 -5px 5px rgba(0,0,0,0.7),
    inset 0 5px 5px rgba(255,255,255,0.3),
    0 5px 10px rgba(0,0,0,0.7);
}

.arcade-btn-red {
background: radial-gradient(circle at 50% 40%, 
    #ff4d4d 0%, 
    #d80000 40%, 
    #900000 75%, 
    #600000 100%
  );
  box-shadow:
    inset 0 -10px 15px rgba(0,0,0,0.6),   /* sombra interna de baixo */
    inset 0 10px 10px rgba(255,255,255,0.4), /* brilho interno em cima */
    0 10px 20px rgba(0,0,0,0.8);          /* sombra externa pra profundidade */
}
.arcade-btn-green {
background: radial-gradient(circle at 50% 40%, 
    #85ff4d 0%, 
    #07d800 40%, 
    #009018 75%, 
    #006010 100%
  );
  box-shadow:
    inset 0 -10px 15px rgba(0,0,0,0.6),   /* sombra interna de baixo */
    inset 0 10px 10px rgba(255,255,255,0.4), /* brilho interno em cima */
    0 10px 20px rgba(0,0,0,0.8);          /* sombra externa pra profundidade */
}
.arcade-btn-purple {
background: radial-gradient(circle at 50% 40%, 
    #824dff 0%, 
    #5300d8 40%, 
    #2b0090 75%, 
    #2d0060 100%
  );
  box-shadow:
    inset 0 -10px 15px rgba(0,0,0,0.6),   /* sombra interna de baixo */
    inset 0 10px 10px rgba(255,255,255,0.4), /* brilho interno em cima */
    0 10px 20px rgba(0,0,0,0.8);          /* sombra externa pra profundidade */
}

