.body-position {
  position: relative;
}

.btn-container-livro {
  position: absolute;
  right: 5%;
  top: 20%; /* opcional: centraliza verticalmente */
  transform: translateY(-50%);
}

.btn-nameLivro {
  display: grid;
  gap: 10px;
  justify-items: center;
}

.arcade-btn-background-livro {
  position: relative;
  top: 5px;
  left: 0;
  width: 94px;
  height: 85px;
  border-radius: 50%;
  pointer-events: none;
}
.btn-l-01 {
  background-color: var(--cor-btn-l-01);
}
.btn-l-02 {
  background-color: var(--cor-btn-l-02);
}
.btn-l-03 {
  background-color: var(--cor-btn-l-03);
}
.btn-l-04 {
  background-color: var(--cor-btn-l-04);
}

.circle-livro {
  border-radius: 50%;
}

.arcade-btn-livro {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 135px;
  height: 135px;
  background: url(/assets/botoes/1.png) no-repeat center/cover;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  appearance: none;
  box-shadow: none;

  /* transition: transform 0.12s ease; */
}

.arcade-btn-shadow {
  position: absolute;
  width: 100%;
  height: 200px;
  left: 150px;
  top: 200px;
  /* background: url(/assets/botoes/btn_shadow.png) no-repeat; */
}

.arcade-btn-livro:active {
  background-image: url(/assets/botoes/2.png);
}

.arcade-btn-livro:hover,
.arcade-btn-livro:focus,
.arcade-btn-livro:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  filter: none !important;
  background-color: transparent !important;
}

@media (max-width: 1060px) {
  .arcade-btn-background-livro {
    position: relative;
    top: 0px;
    left: 0px;
    width: 61px;
    height: 58px;
  }
  .arcade-btn-livro {
    top: -15px;
    left: -11px;
    width: 85px;
    height: 85px;
    background: url(/assets/botoes/1.png) no-repeat center/cover;
  }
 
}

  @media (max-width: 851px) {
  .arcade-btn-background-livro {
    position: relative;
    top: -75px;
    left: -22px;
    width: 46px;
    height: 44px;
  }
  .arcade-btn-livro {
    top: -85px;
    left: -29px;
    width: 64px;
    height: 60px;
    background: url(/assets/botoes/1.png) no-repeat center/cover;
  }
  .btn-itemName p {
    position: relative;
    right: 20px;
    top: -78px;
  }
  
}

