.book-container {
  width: 600px;
  margin: 30px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  perspective: 2000px; /* ESSENCIAL pro 3D */
}

.page {
  width: 100%;
  height: 600px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  overflow: hidden;
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;

  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform .7s cubic-bezier(.55, .01, .31, 1); /* suave e realista */
}

/* quando ativa a animação */
.page.flipping {
  transform: rotateY(-180deg);
}

/* imagem ocupa 100% */
.page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* texto */
.chapter {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  background: #000000;
}

.chapter h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
}

.controls {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
