:root {
  --cor-texto-livro: #d4d4d4ce;
  --cor-destaque-livro: #00ff0d;
  --cor-primaria-livro: #8400ff;
  --cor-primaria-hover: #6400c2;
  --cor-primaria-escura-livro: rgb(0, 92, 95);
  --fundo-1-livro: #ffffff;
  --fundo-2-livro: #000000;
  --fundo-espiral-livro: rgb(34, 34, 34);
  --texto-livro: #ffffff;
  --texto2-livro: #000000;
  --texto3-livro: #c7c7c7;
  --borda-livro: #00eeff;
  --fundo-item-livro: #1b1b1b;
  --cor-subtitulo-livro: rgba(0, 0, 0, 0.2);
  --degrade: radial-gradient(
    circle,
    rgba(21, 255, 0, 0.815),
    rgba(132, 0, 255, 0.973)
  );
  --cor-btn-l-01: rgb(0, 255, 0);
  --cor-btn-l-02: #00edf5;
  --cor-btn-l-03: #8400ff;
  --cor-btn-l-04: #f59f00;
}

/*tema green livro*/
  :root {
    --cor-secundaria-livro: #2fff00;
    --cor-secundaria-hover: #188400;
    --cor-page-livro: #000;
    --fundo-1-livro: #ffffff;
    --fundo-2-livro: #000000;
    --fundo-espiral-livro: rgb(34, 34, 34);
    --texto-livro: #ffffff;
    --texto2-livro: #000000;
    --texto3-livro: #c7c7c7;
    --borda-livro: #00eeff;
    --fundo-item-livro: #1b1b1b;
  }
