/*cor da borda do livro*/
.page-green {
  width: 100%;
  height: 600px;
  margin-left: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  background: var(--fundo-espiral-livro);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform 0.7s cubic-bezier(0.55, 0.01, 0.31, 1);
}
/*fundo da page do livro*/
.chapter-green {
  text-align: left;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  background: var(--cor-page-livro);
}

.chapter-green h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 22px;
}

.controls-green {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.controls-green button {
  background: var(--cor-secundaria-livro);
}

.controls-green button:hover {
  background: var(--cor-secundaria-hover);
}

.footer-livro-green {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  height: 40px;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: solid 1px var(--cor-secundaria-livro);
}
