.titulo-personagem {
  font-size: 4rem;
  color: var(--texto);
  line-height: 76px;
  font-family: "saiyan-l-oblique";
  text-align: center;
}

/* Container do card */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); /* min-width menor */
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  justify-items: center;
  margin-top: 40px;
}
.card-personagens {
  position: relative;
  width: 100%;      
  max-width: 270px;     
  height: 370px;
  perspective: 1000px;
  border: 2px solid var();
  border-radius: 10%;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  z-index: 0;
}

/* Borda animada */
.card-personagens::before {
  content: "";
  position: absolute;
  inset: 0; /* cobre todo o card */
  border-radius: 10%;
  padding: 4px; /* espessura da borda */
  background: linear-gradient(270deg, #09ff00, #ff8800, #eeff00, #ae00ff);
  background-size: 400% 400%;
  z-index: 1; /* coloca sobre o fundo mas ainda atrás da imagem */
  pointer-events: none; /* permite clicar na imagem normalmente */
  box-sizing: border-box;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: glow 3s linear infinite;
}

@keyframes glow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Flip interno */
.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  display: flex;
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

/* Frente e verso */
.flip-card-front,
.flip-card-back {
  flex: 1 1 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10%;
  overflow: hidden;
  /* z-index: 2; */
}

.flip-card-back {
  position: relative;
  overflow: hidden; /* garante que o blur não vaze */
  width: 100%;
  height: 100%;
  background-image: url("/assets/back-card/torneio-classico.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.flip-card-back::before {
   content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* camada escura */
  backdrop-filter: blur(8px);     /* efeito glass */
  z-index: -2;   
}

/* Imagem do card */
.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.card-personagens:hover img {
  transform: scale(1.05);
}

/* Verso */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  padding: 10px;
  box-sizing: border-box;
  font-family: "bebas-neue";
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: left;
}

.flip-card-back .personagem-nome {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffd700;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

.label-json {
color: #ffd700;
}


@media (max-width: 995px) {
  .personagens-introducao {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 5px;
  }
}


/* Responsividade fina para telas menores */
@media (max-width: 600px) {
  .flip-card-back .personagem-nome {
    font-size: 1.5rem;
  }
  .flip-card-back {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }
  .titulo-personagem {
    line-height: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


@media (max-width: 330px) {
  .titulo-personagem {
    line-height: 40px;
  }
}
